<div class="forgot-password-container">
    <mat-card>
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-content>
    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" name="email" [(ngModel)]="email" required />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.form.valid">
        Send Reset Link
      </button>
    </form>
    </mat-card-content>
    </mat-card>
  </div>