<div class="reset-password-container">
  <mat-card>
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-content>
    <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="Enter your new password" name="password" [(ngModel)]="password" type="{{hidePassword? 'text': 'password'}}" required />

        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{hidePassword ?'visibility':'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.form.valid">
        Reset Password
      </button>
    </form>
    </mat-card-content>
    </mat-card>
  </div>
  